@import "variables";
@import "../valo/valo";

.mytheme {
   @include valo;
	
	.logo-margin {
	 	margin-left: 5px;
	}
	
	.bg-image {
		background: url(bg.jpg) no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
	}
}
